<nav>

    <div class="container">

        <img src="
            https://images.pexels.com/photos/258174/pexels-photo-258174.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
            alt="" class="logo">
        <a class="menuitem" href="/">
            <img  src="/media/home.png">
        </a>
        <a class="menuitem" href="/about">
            <img  src="/media/about.png">
        </a>
        <a class="menuitem" href="/blog">
            <img  src="/media/blog.png">
        </a>
        <a class="menuitem" href="/products">
            <img  src="/media/products.png">
        </a>

    </div>

</nav>