{{ define "main" }}


<h1>About</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. At, nulla nobis dolore consequuntur corporis aspernatur labore quo ipsa accusantium praesentium necessitatibus harum tempore quidem quasi, asperiores deleniti impedit quos corrupti aut, iste voluptatem illo vel fuga aperiam! Quas neque sed, iste, nobis magnam sapiente saepe animi maxime ducimus inventore reprehenderit.</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. At, nulla nobis dolore consequuntur corporis aspernatur labore quo ipsa accusantium praesentium necessitatibus harum tempore quidem quasi, asperiores deleniti impedit quos corrupti aut, iste voluptatem illo vel fuga aperiam! Quas neque sed, iste, nobis magnam sapiente saepe animi maxime ducimus inventore reprehenderit.</p>

<img class="placeholderImage" src="https://images.pexels.com/photos/326503/pexels-photo-326503.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. At, nulla nobis dolore consequuntur corporis aspernatur labore quo ipsa accusantium praesentium necessitatibus harum tempore quidem quasi, asperiores deleniti impedit quos corrupti aut, iste voluptatem illo vel fuga aperiam! Quas neque sed, iste, nobis magnam sapiente saepe animi maxime ducimus inventore reprehenderit.</p>

<img class="placeholderImage" src="https://images.pexels.com/photos/326503/pexels-photo-326503.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. At, nulla nobis dolore consequuntur corporis aspernatur labore quo ipsa accusantium praesentium necessitatibus harum tempore quidem quasi, asperiores deleniti impedit quos corrupti aut, iste voluptatem illo vel fuga aperiam! Quas neque sed, iste, nobis magnam sapiente saepe animi maxime ducimus inventore reprehenderit.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor suscipit dicta modi qui repudiandae ex enim quam veritatis, praesentium sunt rem debitis magni officia accusantium reiciendis minima quae tenetur.</p>
{{ end }}