{{ define "main" }}


<h1>Blog</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. At, nulla nobis dolore consequuntur corporis aspernatur labore quo ipsa accusantium praesentium necessitatibus harum tempore quidem quasi, asperiores deleniti impedit quos corrupti aut, iste voluptatem illo vel fuga aperiam! Quas neque sed, iste, nobis magnam sapiente saepe animi maxime ducimus inventore reprehenderit.</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. At, nulla nobis dolore consequuntur corporis aspernatur labore quo ipsa accusantium praesentium necessitatibus harum tempore quidem quasi, asperiores deleniti impedit quos corrupti aut, iste voluptatem illo vel fuga aperiam! Quas neque sed, iste, nobis magnam sapiente saepe animi maxime ducimus inventore reprehenderit.</p>

<img class="placeholderImage" src="https://images.pexels.com/photos/326503/pexels-photo-326503.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. At, nulla nobis dolore consequuntur corporis aspernatur labore quo ipsa accusantium praesentium necessitatibus harum tempore quidem quasi, asperiores deleniti impedit quos corrupti aut, iste voluptatem illo vel fuga aperiam! Quas neque sed, iste, nobis magnam sapiente saepe animi maxime ducimus inventore reprehenderit.</p>

<img class="placeholderImage" src="https://images.pexels.com/photos/326503/pexels-photo-326503.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. At, nulla nobis dolore consequuntur corporis aspernatur labore quo ipsa accusantium praesentium necessitatibus harum tempore quidem quasi, asperiores deleniti impedit quos corrupti aut, iste voluptatem illo vel fuga aperiam! Quas neque sed, iste, nobis magnam sapiente saepe animi maxime ducimus inventore reprehenderit.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae voluptatem, adipisci cum maxime suscipit ratione eius fugiat eum? Provident ratione ex aperiam nostrum laboriosam eveniet, ipsam voluptatibus rem corrupti dolorem voluptatem accusantium illum. Reiciendis, debitis est ex officia saepe repellat quidem rem ratione at. Reprehenderit dolorum molestiae magnam non corporis!</p>
{{ end }}